* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-size: 16px;
  line-height: 40px;
}

header, main, footer {
  max-width: 600px;
  margin: 0 auto;
  
}

h1{
  font-family: 'Alegreya', serif;
}


main hr{
  height: 1px;
  background-color: #888;
  border: 0;
}


header {
  margin: 1.5rem auto;
  border: 1px solid rgb(187, 187, 187);
  padding: .5rem;
  background-color: #bed;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  box-shadow: 0 0 20px #777;
 
}

header picture{
  margin-top: 15px;
  margin-left: 10px;
}

header img{
  width: 200px;
  box-shadow: 0 0 20px #777;
}

header h1 {
  text-shadow: 0 0 20px #777;
  margin:0 auto;
}

h2{
  text-shadow: 0 0 20px #777;
}

header h1 {
  color: rgb(255, 255, 255);
}

body ul li{
  margin-left: 30px;
  line-height: 30px;
  
}

footer {
  margin: 1.5rem auto;
  border: 1px solid rgb(187, 187, 187);
  padding: .5rem;
  background-color: #bed;
  box-shadow: 0 0 20px #777;
  line-height: 25px;
}

footer p{
  text-align: center;
}

footer legend{
  color: darkorange;
}

.time_updated{
  text-align: center;
  color: darkorange;

}



