/* This is for phone*/
main, header{
	max-width: 900px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	padding: 1em;
}

footer{
	max-width: 900px;
	margin: 0 auto;
	padding: 1em;
}


header,footer{
  background-color: black;
  color: #bbb;
}

header h1, h2{
  text-align: center;
 
}

main h3{
	text-align: center;
  background-color: yellow;
	font-size: 1rem;
 
}
main p{
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
}

section{
  border-radius: 5px 5px 0 0;
}

footer {
  text-align: center;
}


main section h2 {
	color: #536878;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section picture img{
  width: 100%;
  height: auto;
}

/* This is for tablet views*/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

  main section:nth-child(3){
    grid-column: span 2;
  }


}

