* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 37.5em) {

  /*This is some change in main element in medium size*/
  main {
    background-color: #D16919;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .demography1 {
    grid-column: 1/4;
  }

  .demography2 {
    grid-column: 1/4;
  }


  .demography3 {
    grid-column: 1/4;
  }


  .hero h2 {
    left: 100px;
  }

  /**This is the button in the main hero**/
  .hero .btn_main {
    left: 350px;
  }


  /**This is the section for news release**/
  .news {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #dda274;
  }


  /**This is the section for publicity**/
  .holderspot {
    grid-column: 1/4;
    grid-row: 4/5;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  .holderspot .spot1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .holderspot .spot2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }


  .join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .join img {
    object-fit: cover;
    width: 20%;
  }

  /*This is the code for the event section*/
  .event {
    grid-column: 1/3;
    grid-row: 5/6;

  }


  /*This is the weather section*/
  .weather {
    grid-column: 3/4;
    grid-row: 5/6;
    width: 100%;
  }


  /*This code is for the header*/
  header {
    grid-template-columns: 300px 1fr 70px 70px;
    gap: 20px;
  }




  .socials {
    grid-column: 3/4;
  }

  #ham {
    grid-column: 4/5;
  }

  #date {
    grid-column: 1/5;
  }

  .pop {
    grid-column: 1/5;
  }


  .responsive {
    grid-column: 1/5;
  }



  /*This code if for the footer of the web page in medium size*/
  .part_1_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo_footer {
    display: flex;
    align-items: center;
  }

  /******************************************************/
  /*******Here I set the style for the companies*********/
  /******************************************************/

  .list section {
    flex-direction: row;

  }

  .list section h2 {
    text-shadow: 3px 3px 10px rgb(32, 13, 1);
    padding-bottom: 0;
  }




}