* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 37.5em) {

  /*This is some change in main element in medium size*/
  main {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #D16919;

  }


  .content_demography{
    grid-column: 1/4;

  }

  



  /**This is the section for publicity**/
  .holderspot {
    grid-column: 1/4; 
    grid-row: 2/3;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .holderspot .spot1 {
    grid-column: 1/2;
  
  }

  .holderspot .spot2 {
    grid-column: 2/3;
 
  }



  /*This code is for the header*/
  header {
    grid-template-columns: 400px 1fr 85px 100px;
    gap: 20px;
  }

  .socials {
    grid-column: 3/4;
  }

  #ham {
    grid-column: 4/5;
  }

  #date {
    grid-column: 1/5;
  }



  /*This code if for the footer of the web page in medium size*/
  .part_1_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .logo_footer {
    display: flex;
    align-items: center;
  }

  .local_storage{
    text-align: right;
    grid-column: 3/4;
    grid-row: 3/4;
  }


  .logo{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    align-items: stretch;
    
  }
  
  .logo h2{
    grid-column: 1/3;
  }
  
  .logo picture{
    grid-column: 1/2;
  }
  
  .logo picture img{
    
    width: 70%;	
  }
  
  .logo p{
    grid-column: 2/3;
    text-align: left;
  }




}