* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 60em) {


  /*This is some changes in the header resposive in large view*/
  #ham {
    display: none;
  }



  /*This is the navigation menu in complete screen*/
  header {
    display: grid;
    grid-template-columns: 370px 1fr 90px;

  }




  nav,
  .responsive {

    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
  }




  nav ul {
    display: flex;
  }

  .socials {
    grid-column: 3/4;

    display: flex;

  }

  #date {
    grid-column: 1/4;
  }

  .pop {
    grid-column: 1/4;
  }

  /***Here starts the main section ***/

  main {

    grid-template-columns: 1fr 1fr 1fr 1fr;



  }

  .event {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .hero {

    grid-column: 2/4;
    grid-row: 1/3;
  }

  .hero h2 {
    font-size: 40px;
    top: 50px;
    left: 100px;
  }

  .hero .btn_main {
    font-size: 30px;
    bottom: 100px;
    left: 150px;
  }

  .holderspot {
    grid-column: 4/5;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .holderspot div {
    height: 100%;

  }


  .holderspot .spot3 {
    display: block;
  }


  .spot:nth-child(3) {
    display: block;
  }



  .weather {
    grid-column: 1/2;
    grid-row: 2/3;

  }


  .hero .btn_main {
    font-size: 40px;
  }

  .join {
    grid-column: 1/2;
    grid-row: 3/4;
  }


  .join img {

    width: 50%;
  }

  /*This is for the new release section*/
  .news {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .news p {
    margin-top: 0px;
    top: 150px;
  }

  .news h2 {
    top: -10px;
    margin-top: 60px;

  }






}