* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 60em) {
  


  .one{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .two{
    height: 97%;
    grid-column: 2/4;
    grid-row: 1/3;
  }
  
  .three{
    grid-column: 4/5;
    grid-row: 1/4;
    display: block;
  
  }

  .four{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .five{
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .five p{
    margin-top: 0;
    margin-left: 0;
  }
  
  .six{
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .section3{
    display: block;
  }

  .sub{	
    height: 32%;
    width: 95%;
   
  }


  #ham{
    display: none ;
  }

  nav, .responsive{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
  }


 

   nav ul{
    display: flex;
  }



  .socials {
    grid-column: 3/4;

    display: flex;
  
  }

  .join_btn {
    width: 100px;
    left: 50%;
    top: 1.5em;
    
  }
  
  .join_btn span {
    margin-left: 0;
    font-size: 30px;
  
  }

  .btn_main {
   
    top: 400px;
    left: 200px;
  }
  
  .btn_main h3 {
    font-size: 20px;
  }
  
  

  





}