* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 960px;
	margin: 0 auto;
}

html {
	background-color: black;
}

header,
footer {
	background-color: white;
}

h1,
h2 {
	font-family: 'Abril Fatface', cursive;
}

body p,
footer,
nav {

	font-family: 'Varela Round', sans-serif;
}

main {
	display: block;
}


.holder {
	width: auto;
	height: 15rem;
	border-radius: 5px;
	background-color: #156acb;
	margin: 0.5rem;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.9;
}

.holder p,
h2 {

	text-align: center;
}



.five {
	
	display: none;

}


.six {
	position: relative;
}

.six p{
	position: absolute;
	top: 35%;
	left: 5px;


}



.weather .border_above {
	border-top: 1px solid black;
}




.two {
	position: relative;
}

.two {
	background-image: url(star.png);
	background-repeat: no-repeat;

	background-size: cover;

}

.weather {
	line-height: 20px;

}

.weather div {
	display: flex;
	align-items: center;
}

.three img {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.sub {
	text-align: center;
}


.division_line {
	padding-top: 5px;
	border-top: 1px solid black;
}



.two h2 {
	position: absolute;
	right: 50%;
	margin-left: 226px;
	font-size: 30px;

}

.btn_main {
	position: absolute;
	box-shadow: 0 0 30px rgb(236, 234, 234);
	background-color: #E7BF0A;
	border-radius: 5px;
	top: 150px;
	left: 35%;
}

.btn_main h3 {
	padding: .5em;

	font-size: 25px;
}

.join_btn {
	width: 300px;
	left: 35%;
	top: 10em;
	margin-left: -50px;
	position: absolute;
	box-shadow: 0 0 30px #333;
	background-color: #E7BF0A;
	border-radius: 5px;
}

.join_btn span {
	margin-left: 27%;
	font-size: 50px;

}


.holderspot {
	border-radius: 5px;
	background-color: #0f5bb1;
	padding: .5em;
	margin: 0.5rem;
}

.sub {
	height: 25em;
	border-radius: 5px;
	background-color: #156acb;
	margin: 0.5rem;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.9;
}


.section3 {
	display: none;
}



header {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	height: fit-content;


}

header img {

	grid-column: 1/2;
	grid-row: 1;
	width: 80%;
	margin: auto;
}

#ham {
	display: grid;
	grid-column: 3/4;
	background-color: transparent;
	align-content: center;
	border: none;
	font-size: 2rem;
	margin: 2rem 2vw;
}


nav {
	display: none;

}



.responsive {
	display: grid;
	grid-column: 1/4;
	grid-row: 2/3;
	text-align: center;
}



.socials {
	grid-column: 2/3;
	grid-row: 1;
	display: flex;

}


.socials svg {

	margin-right: 5px;
	width: 40px;

}

#date {
	padding: 1em;
	margin-top: 3rem;
	margin-bottom: 1rem;
	grid-column: 1/4;
	color: #ffe5ae;

	text-align: center;
	height: 4rem;
	background-color: #d59107;
}


.part_1_footer {
	display: block;
	text-align: center;

}

.part_1_footer img {
	width: 60%;

}

.logo_footer {
	display: block;

}



.navigation li a:hover {
	color: white;
	background-color: #E7BF0A;

}


.navigation a {
	display: block;
	padding: 0.75rem;

	text-decoration: none;
	color: black;
	font-weight: 700;
}

.navigation {
	list-style: none;
	padding: 0;
}

.copy {
	margin: 0 10px;
	padding: 1em;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .3);
}

.pop {
	display: none;
	
	padding: .5em;
	grid-column: 1/4;
	color: #020202;
	text-align: center;
	background-color: #b1b0ad;
}

.close{
	width: 2em;
	background-color: white;
	color: red;
	margin: 0 5px;
	font-size: 20px;


}