* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 960px;
	margin: 0 auto;
}

html {
	background-color: black;
}

header,
footer {
	background-color: white;
}

h1,
h2 {
  font-family: 'Abril Fatface', cursive;
}

body p,
footer,
nav {
  
  font-family: 'Varela Round', sans-serif;
}

main{
	display: block;
}

.holder{
	width: auto;
	height: 15rem;
	border-radius: 5px;
	background-color: rgb(207,232,220);
	padding: 1em;
	margin: 0.5rem;
}


.holderspot{
	border-radius: 5px;
	background-color: rgb(207,232,220);
	padding: .5em;
	margin: 0.5rem;
}

.sub{	
	height: 12em;
	border-radius: 5px;
	background-color: rgb(6, 188, 100);
	padding: 1em;
	margin: 5px;
}


.section3{
	display: none;
}

.five{
	display: none;
}


header {
	display: grid;
	grid-template-columns: max-content 1fr min-content;
	height: fit-content;


}

header img {

	grid-column: 1/2;
	grid-row: 1;
	width: 80%;
	margin: auto;
}

#ham{
	display: grid;
	grid-column: 3/4;
	background-color: transparent;
	align-content: center;
	border: none;
	font-size: 2rem;
	margin: 2rem 2vw;
}


nav {
	display: none;

}



.responsive{
	display: grid;
	grid-column: 1/4;
	grid-row: 2/3;
	text-align: center;
}



.socials {
	grid-column: 2/3;
	grid-row: 1;
	display: flex;

}


.socials svg {

	margin-right: 5px;
	width: 40px;

}

#date{
	padding: 1em;
	margin-top: 3rem;
	margin-bottom: 1rem;
	grid-column: 1/4;
	color: #ffe5ae;

	text-align: center;
	height: 4rem;
	background-color: #0E53A2;
}


.part_1_footer {
	display: block;
	text-align: center;

}

.part_1_footer img {
	width: 60%;

}

.logo_footer {
	display: block;

}



.navigation li a:hover{
	color: white;
	background-color: #E7BF0A;

}


.navigation a {
	display: block;
	padding: 0.75rem;

	text-decoration: none;
	color: black;
	font-weight: 700;
}

.navigation {
	list-style: none;
	padding: 0;
}





.copy {
	margin: 0 10px;
	padding: 1em;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .3);
}