* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*This code is for the header and footer and the body*/
body {
	max-width: 1160px;
	margin: 0 auto;
}


html {
	background-color: black;
}

header,
footer {
	background-color: white;
}

h1,
h2 {
	font-family: 'Abril Fatface', cursive;
}

body p,
footer,
nav {

	font-family: 'Varela Round', sans-serif;
}

/*Here I start with the main part of the web page */


.holder {
	border: 1px solid #32292f;
	background-color: #ffffff;
	box-shadow: 3px 3px 10px rgb(54 54 54);

	padding: 7px;
	text-align: center;

}

main div {
	padding: 7px;
}


.hero {
	position: relative;
}

.hero h2 {
	position: absolute;
	top: 60px;
	left: 70px;
}

.hero .btn_main {
	font-size: 30px;
	background-color: #f7c72b;
	border: 1px solid #32292f;
	padding: 7px;
	box-shadow: 3px 3px 10px rgb(54 54 54);
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	bottom: 70px;
	left: 150px;
}

.hero picture img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}


/**This is for the advertisments of the right side**/

.holderspot {
	display: grid;
	grid-template-columns: 1fr;
	height: 100%;
	grid-row: 5/7;
	gap: 10px;

	border: 1px solid #32292f;
	background-color: #ffffff;
	box-shadow: 3px 3px 10px rgb(54 54 54);

}

.holderspot div {
	border: 1px solid #32292f;
	background-color: #ffffff;
	box-shadow: 3px 3px 10px rgb(54 54 54);
	padding: 10px;
	padding-top: 50px;
	text-align: center;

}

.holderspot img {

	width: 50%;
}

.holderspot .spot3 {
	display: none;
}

.spot:nth-child(3) {
	display: none;
}


.spot img {
	width: 60%;
}

/**End of the advertisments of the right side**/


main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 20px;
}


/*This is the event section*/
.event {
	display: grid;
	grid-template-columns: 1fr;

}

.event {
	align-items: center;
}

.hero picture img {
	width: 100%;
}


/*This is the weather section*/
.weather {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 400px;
	margin: 0 auto;
	align-items: center;

}

.weather .border_above {
	border-top: 1px solid black;
	padding-top: 30px;
}

.weather img {
	width: 90px;
	grid-column: 1/2;

}

.weather #temp {
	font-size: 50px;
	grid-column: 2/3;
	margin: auto 0;

}

.weather .temp_grid {
	font-size: 50px;
}

.weather p {
	grid-column: 1/3;

}


.title_temp {
	grid-column: 1/2;

}

.icon_temp {
	grid-column: 2/3;
}

figcaption {
	text-transform: capitalize;
}

/*This is the section of join us*/
.join {
	display: none;

}

.join p {

	color: #000000;

}


.join .btn_join {
	margin: 0 auto;
	background-color: #f7c72b;
	border: 1px solid #32292f;
	padding: 10px;
	box-shadow: 3px 3px 10px rgb(54 54 54);
	border-radius: 5px 5px 5px 5px;
	width: 70%;

}

.btn_join a {
	color: white;
	font-size: 30px;
	text-decoration: none;
}


/*This is the section for new release*/
.news {
	display: block;

}



/*This code is for the header*/
header {
	display: grid;
	grid-template-columns: 230px 1fr 70px 70px;
	gap: 20px;

}

header img {
	grid-column: 1/2;
	grid-row: 1;
	width: 80%;
	margin: auto;
}

#ham {
	display: grid;
	grid-column: 4/5;
	background-color: transparent;
	align-content: center;
	border: none;
	font-size: 2rem;
	margin: 2rem 2vw;
}

nav {
	display: none;

}

/*This is the class changed when the user click in ham button*/
.responsive {
	display: grid;
	grid-column: 1/4;
	grid-row: 2/3;
	text-align: center;
}

.socials {
	grid-column: 3/4;
	grid-row: 1;
	display: flex;
	justify-content: right;
	align-items: center;

}

.socials svg {
	margin-right: 5px;
	width: 40px;

}

#date {
	font-size: 1em;
	padding: 1em;
	margin-top: 3rem;
	margin-bottom: 1rem;
	grid-column: 1/5;
	color: white;
	text-align: center;
	height: 4rem;
	background-color: #d59107;
}


.part_1_footer {
	display: block;
	text-align: center;

}

.part_1_footer img {
	width: 60%;

}

.logo_footer {
	display: block;

}



.navigation li a:hover {
	color: white;
	background-color: #E7BF0A;

}


.navigation a {
	display: block;
	padding: 0.75rem;
	font-size: 1.2em;

	text-decoration: none;
	color: black;
	font-weight: 700;
}

.navigation {
	list-style: none;
	padding: 0;
}

.copy {
	margin: 0 10px;
	padding: 1em;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .3);
}

.pop {
	display: none;

	padding: .5em;
	grid-column: 1/5;
	color: #020202;
	text-align: center;
	background-color: #b1b0ad;
}

.close {
	width: 2em;
	background-color: white;
	color: red;
	margin: 0 5px;
	font-size: 20px;


}